{% extends "main.html" %} {% block tabs %} {{ super() }}

<style>
  /* create blank canvas */
  .md-main {
    max-height: 0px;
  }

  .container {
    background: none;
    margin-bottom: 75px;
  }

  .container--no-bottom-margin {
    margin-bottom: 0px;
  }

  .container--bottom-padding {
    padding-bottom: 75px;
  }

  .container--blue {
    background-color: #005eb8;
    color: white;
  }

  .container--white {
    background-color: white;
    color: black;
  }

  .container--blue a,
  .container--blue a:visited,
  .container--dark-blue a,
  .container--dark-blue a:visited {
    color: white;
  }

  .container--blue a:hover,
  .container--dark-blue a:hover {
    text-decoration: underline;
  }

  .container--dark-blue {
    background-color: var(--md-primary-fg-color);
    color: white;
  }

  .hero {
    display: block;
    align-items: center;
    width: 100%;
    height: calc(100vh - 118px);
    min-height: 700px;
    background-image: url('images/reproducible-analytical-pipelines-cartoon-pipes-wide-nhs-dark-blue-min.jpg');
    color: var(--md-primary-bg-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .hero-image {
    flex: 3;
    order: 1;
  }

  #hero-img {
    float: right;
    object-fit: cover;
    min-height: 600px;
  }

  .hero-content {
    position: absolute;
    margin: 0;
    padding: 0;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    z-index: 1;
    font-family: Arial;
  }

  .hero h1 {
    margin-bottom: 1rem;
    color: currentColor;
    font-weight: 700;
    font-size: 32pt;
    margin-bottom: 50px;
  }

  .hero li, .hero p {
    margin-bottom: 1rem;
    color: currentColor;
    font-size: 14pt;
  }

  .hero .md-button--primary {
    background-color: var(--md-primary-fg-color);
    border-color: var(--md-primary-fg-color);
  }

  .hero .md-button,
  .container .md-button {
    margin-top: 0.5rem;
    margin-right: 0.5rem;

    color: var(--md-default-bg-color);
    border: 2px var(--md-primary-fg-color) solid;
    transition: 0.4s;
  }

  .hero .md-button:focus,
  .hero .md-button:hover,
  .container .md-button:focus,
  .container .md-button:hover {
    color: var(--md-primary-fg-color);
    background-color: var(--md-default-bg-color);
    border: 2px var(--md-primary-fg-color) solid;
  }

  .top-hr {
    margin: 10px;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
  }

  .feature-item {
    flex: 1;
    flex-basis: 0%;
    min-width: 300px;

    box-sizing: border-box;
    margin: 10px;
    padding: 0 15px;

    background-color: var(--md-primary-fg-color);
    border: 2px solid var(--md-primary-fg-color);
    border-radius: 2px;

    font-family: "Arial", sans-serif;
    font-weight: 300;
    word-break: break-word;
  }

  .feature-item:hover {
    background-color: var(--md-accent-fg-color);
    border-color: var(--md-accent-fg-color);
    border-radius: 2px;
  }

  .feature-item h2 {
    margin-top: 20px;
    margin-bottom: 10px;

    color: var(--md-default-bg-color);
    font-weight: 300;
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    font-family: inherit;
  }

  .feature-item h2 svg {
    float: left;
    height: 30px;
    margin-right: 10px;
  }

  .feature-item p {
    margin: 0 0 10px;

    font-size: 16px;
    line-height: 1.8em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: var(--md-default-bg-color);

    display: block;
  }

  /* medium screen */
  @media screen and (max-width: 1360px) {
    .feature-item {
      flex-basis: 40%;
    }

    .hero-content {
      flex: 1;
    }

    .hero-image {
      flex: 2;
    }

    #hero-img {
      min-height: 400px;
    }
  }

  /* small screen */
  @media screen and (max-width: 800px) {
    .hero {
      flex-direction: column;
    }

    .hero h1 {
      font-size: 3em;
    }

    .hero-image {
      flex: 1;
      order: 0;
    }

    .hero-content p {
      font-size: 1.7em;
    }

    #hero-img {
      min-height: 250px;
    }
  }
</style>

<!-- Main site Entry button descriptions -->
<section class="container container--no-bottom-margin">
  <div class="hero">
      <div class="hero-content">
        <h1 class="intersect-fade-in delay-100">Reproducible Analytical Pipelines (RAP)</h1>

        <p class="intersect-fade-in delay-200"><strong>RAP</strong> is a way of working that helps you make your analytical processes:
        <p class="intersect-fade-in delay-300"><strong>Faster</strong></p>
        <p class="intersect-fade-in delay-400">More <strong>robust</strong></p>
        <p class="intersect-fade-in delay-500">More <strong>transparent</strong></p>
      </div>
      <a href="#what-is-rap"><div class="down-arrow bounce"></div></a>
  </div>
</section>

<section class="container container--white container--no-bottom-margin container--bottom-padding" id="what-is-rap">
  <div class="md-typeset md-grid">
    <div class="content-wrapper">
      <div class="content-wrapper--text-area intersect-fade-in-right">
        <h2>What is RAP?</h2>
        <p><strong>Reproducible Analytical Pipelines</strong> is a set of tools, principles, and techniques to help you improve your analytical processes.</p>
        <p>With RAP, you'll leverage open-source tools to make your work more efficient, more reusable, and less error-prone.</p>
        <p>The RAP journey:</p>
        <ol>
          <li>1) Start with your current, manual process</li>
          <li>2) Redesign it in-line with RAP principles</li>
          <li>3) Rebuild your new pipeline with open-source tools</li>
          <li>4) Identify reusable componenets</li>
          <li>5) Save time be reusing these components in future projects</li>
        </ol>
        <p>Learn more:</p>
        <a
          href="{{ base_url }}/introduction_to_RAP/what_is_RAP/"
          class="md-button md-button--primary"
        >
          What is RAP?
        </a>
      </div>
      <div class="content-wrapper--image--area">
        <div class="content-wrapper--image">
          <img
            src="images/rap-journey.jpg"
            draggable="false"
            class="intersect-fade-in-left"
            alt="diagram with 5 sections. 1 - a straw house. 2 - a blueprint for a new house. 3 - a fully constructed new house made of bricks. 4 - a pile of bricks. 5 - more houses made from bricks."
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container container--blue">
  <div class="md-typeset md-grid">
    <div class="quote-banner">
      <div class="quote-banner__text-area">
        <div class="quote-banner__main-text delay-200 intersect-fade-in-up">
          "The principles of RAP are excellent, well thought through, and reflect a strong basic minimum standard."
        </div>
        <div class="quote-banner__sub-text delay-400 intersect-fade-in-up">
          Prof. Ben Goldacre, The Goldacre Review, 2022
        </div>
      </div>
      <div class="quote-banner__image-area">
        <img class="quote-banner__image delay-600 intersect-fade-in-up" src="images/prof-ben-goldacre.jpg" alt="Photo of Prof. Ben Goldacre" />
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="md-typeset md-grid">
    <div class="content-wrapper --row-reverse">
      <div class="content-wrapper--text-area intersect-fade-in">
        <h2>How to RAP</h2>
        <p>Are you interested in RAP, but don't know how to get started?</p>
        <p>Check out out our guidance on implementing RAP!</p>
        <p>It'll show you how to take a process you currently do in a very manual, time-consuming way, and rebuild it in-line with RAP principles.</p>
        <p>Learn more:</p>
        <a
          href="{{ base_url }}/implementing_RAP/rap-readiness/"
          title="{{ page.next_page.title | striptags }}"
          class="md-button md-button--primary"
        >
          How to RAP
        </a>
        </div>
        <div class="content-wrapper--image--area">
          <div class="content-wrapper--image">
            <img
              src="images/your-country-needs-you-to-rap.jpg"
              draggable="false"
              class="intersect-fade-in delay-400"
              alt="Image of a soldier pointing at the user, with the caption 'Your country needs you to RAP'"
            />
          </div>
      </div>
    </div>
  </div>
</section>

<section class="container container--dark-blue">
  <div class="md-typeset md-grid">
    <div class="quote-banner">
      <div class="quote-banner__text-area">
        <div class="quote-banner__main-text intersect-fade-in-up">
          "Recommendation 7: promote and resource ‘Reproducible Analytical Pipelines’ ... as the minimum standard for academic and NHS data analysis"
        </div>
        <div class="quote-banner__sub-text intersect-fade-in-up">
          Data Saves Lives, 2022 government strategy report
        </div>
      </div>
      <div class="quote-banner__image-area">
        <img class="quote-banner__image intersect-fade-in-up" src="images/data_saves_lives.png" alt="Text stating 'Data Saves Lives'" />
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="md-typeset md-grid">
    <div class="content-wrapper">
      <div class="content-wrapper--text-area intersect-fade-in-right">
        <h2>Our RAP Service</h2>
        <p>The NHS England Data Science team offers support to NHSE teams looking to implement RAP.</p>
        <p>We'll:</p>
        <ul>
          <li>Work alongside your team for 6-12 weeks</li>
          <li>Work with you to recreate one of your processes in the RAP way</li>
          <li>Deliver training in Git, Python, R, Databricks, and anything else you'll need</li>
        </ul>
        <p>Learn more:</p>
        <a
          href="{{ base_url }}/our_RAP_service/"
          title="{{ page.next_page.title | striptags }}"
          class="md-button md-button--primary"
        >
          Our RAP Service
        </a>
      </div>
      <div class="content-wrapper--image--area">
        <div class="content-wrapper--image">
          <img
            src="images/DS_team_photo_smaller.jpeg"
            alt="Group photo of the members of the NHS England Data Science Team"
            draggable="false"
            class="intersect-fade-in-left"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container container--dark-blue">
  <div class="md-typeset md-grid">
    <div class="quote-banner">
      <div class="quote-banner__text-area">
        <div class="quote-banner__main-text intersect-fade-in-up">
          Are you an NHS Employee? Check out our Future NHS page for details of support we can offer, including drop-in sessions, monthly workshops, our Teams channel, and more!
        </div>
        <div class="quote-banner__sub-text intersect-fade-in-up">
          <a href="https://future.nhs.uk/RAP" class="--underline">RAP Community of Practice Future NHS Page</a>
        </div>
      </div>
      <div class="quote-banner__image-area">
        <a href="https://future.nhs.uk/RAP"><img class="quote-banner__image intersect-fade-in-up" src="images/RAP_blue_pipe.png" alt="A pipe with the word 'RAP' written on it" /></a>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="md-typeset md-grid">
    <div class="content-wrapper --row-reverse">
      <div class="content-wrapper--text-area intersect-fade-in-left">
        <h2>Training Resources</h2>
        <p>On this very site we have a range of step-by-step, ground-up training guides on topics like:</p>
        <ul>
          <li>Python</li>
          <li>Git</li>
          <li>R</li>
          <li>General coding tips</li>
        </ul>
        <p>Learn more:</p>
        <a
          href="{{ base_url }}/training_resources/git/introduction-to-git/"
          class="md-button md-button--primary"
        >
          Training Resources
        </a>
      </div>
      <div class="content-wrapper--image--area">
        <div class="content-wrapper--image">
          <img
            src="images/training-guides-450.jpg"
            draggable="false"
            alt="AI-generated image showing a laptop with a stream of light-bulbs shooting out of it"
            class="intersect-fade-in-right"
          />
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %} {% block content %}{% endblock %} {% block footer %} {{ super()
}} {% endblock %}
