{% extends "main.html" %} {% block tabs %} {{ super() }}

<style>
  /* create blank canvas */
  .md-main {
    max-height: 0px;
  }

  .container {
    background: #425563;
  }

  .hero {
    display: flex;
    align-items: center;

    color: var(--md-primary-bg-color);
  }

  .hero-image {
    flex: 3;
    order: 1;
  }

  #hero-img {
    float: right;
    object-fit: cover;
    min-height: 600px;
  }

  .hero-content {
    flex: 2;
    margin: 1.6rem 0.8rem;
  }

  .hero h1 {
    margin-bottom: 1rem;

    color: currentColor;
    font-weight: 700;
  }

  .hero .md-button--primary {
    background-color: var(--md-primary-fg-color);
    border-color: var(--md-primary-fg-color);
  }

  .hero .md-button {
    margin-top: 0.5rem;
    margin-right: 0.5rem;

    color: var(--md-primary-bg-color);
  }

  .hero .md-button:focus,
  .hero .md-button:hover {
    color: var(--md-default-bg-color);
    background-color: var(--md-accent-fg-color);
    border-color: var(--md-accent-fg-color);
  }

  .top-hr {
    margin: 10px;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
  }

  .feature-item {
    flex: 1;
    flex-basis: 0%;
    min-width: 300px;

    box-sizing: border-box;
    margin: 10px;
    padding: 0 15px;

    background-color: var(--md-primary-fg-color);
    border: 2px solid var(--md-primary-fg-color);
    border-radius: 2px;

    font-family: "Arial", sans-serif;
    font-weight: 300;
    word-break: break-word;
  }

  .feature-item:hover {
    background-color: var(--md-accent-fg-color);
    border-color: var(--md-accent-fg-color);
    border-radius: 2px;
  }

  .feature-item h2 {
    margin-top: 20px;
    margin-bottom: 10px;

    color: var(--md-default-bg-color);
    font-weight: 300;
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    font-family: inherit;
  }

  .feature-item h2 svg {
    float: left;
    height: 30px;
    margin-right: 10px;
  }

  .feature-item p {
    margin: 0 0 10px;

    font-size: 16px;
    line-height: 1.8em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: var(--md-default-bg-color);

    display: block;
  }

  /* medium screen */
  @media screen and (max-width: 1360px) {
    .feature-item {
      flex-basis: 40%;
    }

    .hero-content {
      flex: 1;
    }

    .hero-image {
      flex: 2;
    }

    #hero-img {
      min-height: 400px;
    }
  }

  /* small screen */
  @media screen and (max-width: 800px) {
    .hero {
      flex-direction: column;
    }

    .hero h1 {
      font-size: 1.4rem;
    }

    .hero-image {
      flex: 1;
      order: 0;
    }

    #hero-img {
      min-height: 250px;
    }
  }
</style>

<!-- Main site Entry button descriptions -->
<section class="container">
  <div class="md-typeset md-grid">
    <div class="hero">
      <div class="hero-image">
        <img
          id="hero-img"
          src="images/Staff_hot_desking_in_the_HUB_01.jpeg"
          draggable="false"
        />
      </div>

      <div class="hero-content">
        <h1>RAP Community of Practice</h1>

        <p>
          This is a test.
          This is another test. Different to the last test.
          This is v2.5.
        </p>

        <a
          href="{{ page.next_page.url | url }}"
          title="{{ page.next_page.title | striptags }}"
          class="md-button md-button--primary"
        >
          Get started
        </a>

        <a
          href="https://github.com/NHSDigital/data-analytics-services"
          title="data-analytics-services"
          class="md-button"
        >
          See our work
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Main site box descriptions -->
<div class="top-hr">
  <a href="introduction_to_RAP/why_RAP_is_important" class="feature-item">
    <h2>
      <svg
        viewBox="-2 -2 24.00 24.00"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        transform="rotate(0)"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <path
            fill="#f8f8f8"
            fill-rule="evenodd"
            d="M10 3a7 7 0 100 14 7 7 0 000-14zm-9 7a9 9 0 1118 0 9 9 0 01-18 0zm10.01 4a1 1 0 01-1 1H10a1 1 0 110-2h.01a1 1 0 011 1zM11 6a1 1 0 10-2 0v5a1 1 0 102 0V6z"
          ></path>
        </g>
      </svg>

      Introduction to RAP
    </h2>

    <p>Why its important, the benefits and breaking it down into levels.</p>
  </a>

  <a href="our_RAP_service" class="feature-item">
    <h2>
      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <g id="User / Users">
            <path
              id="Vector"
              d="M21 19.9999C21 18.2583 19.3304 16.7767 17 16.2275M15 20C15 17.7909 12.3137 16 9 16C5.68629 16 3 17.7909 3 20M15 13C17.2091 13 19 11.2091 19 9C19 6.79086 17.2091 5 15 5M9 13C6.79086 13 5 11.2091 5 9C5 6.79086 6.79086 5 9 5C11.2091 5 13 6.79086 13 9C13 11.2091 11.2091 13 9 13Z"
              stroke="#f8f8f8"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </g>
        </g>
      </svg>

      Our RAP service
    </h2>

    <p>How we roll out the RAP Champion service in NHSE.</p>
  </a>

  <a href="implementing_RAP/rap-readiness" class="feature-item">
    <h2>
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <path
            stroke="#f8f8f8"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
          ></path>
          <path
            stroke="#f8f8f8"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10.47 4.32c.602-1.306 2.458-1.306 3.06 0l.218.473a1.684 1.684 0 0 0 2.112.875l.49-.18c1.348-.498 2.66.814 2.162 2.163l-.18.489a1.684 1.684 0 0 0 .875 2.112l.474.218c1.305.602 1.305 2.458 0 3.06l-.474.218a1.684 1.684 0 0 0-.875 2.112l.18.49c.498 1.348-.814 2.66-2.163 2.162l-.489-.18a1.684 1.684 0 0 0-2.112.875l-.218.473c-.602 1.306-2.458 1.306-3.06 0l-.218-.473a1.684 1.684 0 0 0-2.112-.875l-.49.18c-1.348.498-2.66-.814-2.163-2.163l.181-.489a1.684 1.684 0 0 0-.875-2.112l-.474-.218c-1.305-.602-1.305-2.458 0-3.06l.474-.218a1.684 1.684 0 0 0 .875-2.112l-.18-.49c-.498-1.348.814-2.66 2.163-2.163l.489.181a1.684 1.684 0 0 0 2.112-.875l.218-.474Z"
          ></path>
        </g>
      </svg>

      Implementing RAP
    </h2>

    <p>Broad guidance on the elements of RAP and how to get ready for them.</p>
  </a>

  <a href="training_resources/git/introduction-to-git" class="feature-item">
    <h2>
      <svg
        viewBox="-4 -4 28.00 28.00"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        fill="#f8f8f8"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <title>book [#f8f8f8]</title>
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g
            id="Page-1"
            stroke="none"
            stroke-width="1"
            fill="none"
            fill-rule="evenodd"
          >
            <g
              id="Dribbble-Light-Preview"
              transform="translate(-260.000000, -2759.000000)"
              fill="#f8f8f8"
            >
              <g id="icons" transform="translate(56.000000, 160.000000)">
                <path
                  d="M222,2612.40709 C222,2612.84565 221.729,2613.23594 221.324,2613.3787 L215,2615.60539 L215,2603.71501 L215,2603.53322 L220.676,2601.53454 C221.325,2601.3055 222,2601.80055 222,2602.50615 L222,2612.40709 Z M213,2603.71501 L213,2615.60539 L206.676,2613.3787 C206.271,2613.23594 206,2612.84565 206,2612.40709 L206,2602.50615 C206,2601.80055 206.675,2601.3055 207.324,2601.53454 L213,2603.53322 L213,2603.71501 Z M221.337,2599.11785 L214.331,2601.64444 C214.117,2601.72147 213.883,2601.72147 213.669,2601.64444 L206.663,2599.11785 C205.362,2598.64847 204,2599.6396 204,2601.05592 L204,2613.11577 C204,2613.997 204.547,2614.78065 205.36,2615.06207 L213.68,2617.94608 C213.888,2618.01797 214.112,2618.01797 214.32,2617.94608 L222.64,2615.06207 C223.453,2614.78065 224,2613.997 224,2613.11577 L224,2601.05592 C224,2599.6396 222.638,2598.64847 221.337,2599.11785 L221.337,2599.11785 Z"
                  id="book-[#f8f8f8]"
                ></path>
              </g>
            </g>
          </g>
        </g>
      </svg>

      Training Resources
    </h2>

    <p>Our technical guidance on Git, Python and more!</p>
  </a>
</div>

<!-- <div class="top-hr">
  <div class="hr"></div>
</div> -->

{% endblock %} {% block content %}{% endblock %} {% block footer %} {{ super()
}} {% endblock %}
